@import "../../../../styles.scss";

.container {
  padding: 2rem 4rem;

  .banner-notification {
    background-color: $green-color-100;
    padding: 2rem;
  }

  .content {
    margin-top: 1rem;
  }

  .step {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 1rem;
  }
}
