@import '../../../styles.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .step {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 3rem;

    .step-icon {
      display: flex;
    }

    .step-content {
      h4, p {
        color: $gray-color;
      }
      button {
        margin-top: 1rem;
      }
    }
  }
}
