@import '../../../../styles.scss';

.container {
  width: 100%;
  padding: $size-lg-3 0;
  display: flex;
  justify-content: center;

  .information {
    line-height: $size-lg-1;
    width: 65vw;
    .to-home {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
    }
    .title {
      text-align: center;
    }
    h1 {
      padding-top: $size-md-1;
      font-weight: 500;
    }
    h2 {
      padding-top: $size-md-1;
    }
    p {
      padding-top: $size-md-1;
    }
    h4 {
      padding-top: $size-md-1;
      font-weight: bold;
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    .information {
      line-height: $size-lg-1;
      width: 90%;
    }
  }
}
