.container {
  display: flex;

  .live-meeting {
    flex-grow: 1;

    .video-container {
      height: 20rem;
      background-color: #f7f7f7;

      img {
        width: 100%; // is a mock image
      }
    }
  }

  .live-chat-content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin: 0;
    }
  }
}
