@import '../../../libs/shared-ui/src/styles/styles.module.scss';

.card {
  background-color: $white-color;
  box-shadow: $card-shadow-medium;
  border-radius: 15px;

  &.with-padding {
    padding: 1rem;
  }
}

.add-space-bottom {
  margin-bottom: 1rem;
}

