@import '../../../libs/shared-ui/src/styles/styles.module.scss';

.card {
  background-color: $white-color;
  box-shadow: $card-shadow-soft;
}


table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: $primary-color;
  color: $white-color;
}

tbody {
  color: $text-gray-color;

  tr {
    &:hover {
      background-color: #f7f7f7;;
    }
  }
}

td, th {
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: $background-gray-color;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #0a0861;
  color: #fff;
}

tbody {
  color:#858f9a;

  tr {
    &:hover {
      background-color: #f7f7f7;
    }
  }
}

td, th {
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #f7f9fb;
}

