body {
  font-family: 'Jost', Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

h1, h2, h3, h4, h5 {
  margin: 0.5rem 0;
  color: #262730;
}

h2, h3, h4, h5 {
  font-weight: 400;
}

p {
  color: #334255;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 10px;
}

.link-wrapper {
  text-decoration: none;
  color: initial;
}

.muted {
  color: #888888;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #0a0861;
  color: #fff;
}

tbody {
  color:#858f9a;

  tr {
    &:hover {
      background-color: #f7f7f7;
    }
  }
}

td, th {
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #f7f9fb;
}

