@import '../../../../../admin/src/styles.scss';

.container {
  background-color: #fff;
  padding: 3rem 6rem;

  .comments-applyTeach {
    padding: 2rem 1rem;
    border: 1px solid $gray-color-200;
    border-radius: 8px;
    // color: $green-color;
    background-color: $gray-color-100;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .actions {
      display: flex;
      gap: 1rem;
    }
  }
}
