@import '../../../styles.scss';

.students-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;

  .student {
    cursor: pointer;
    padding: 1rem;
    background-color: $gray-color-100;

    &:hover {
      background-color: $secondary-color;
      color: $white-color;
    }
  }
}
