.container {
  background-color: #fff;
  padding: 2rem 3rem;

  table {
    margin-top: 1rem !important;

    .user-name {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.title {
  padding-bottom: 0.5rem;
}

.content {
  padding: 1.5rem 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.th-class {
  text-align: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}