@import '../../../styles.scss';

.container {
  width: 60vw;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .balance-info {
    display: flex;
    gap: 1rem;
  }

  .withdrawal-form {
    background-color: $white-color;
    padding: 2rem;
    border-radius: 10px;

    h2 {
      margin-bottom: 1rem;
    }

    h5 {
      margin-bottom: 1rem;
      color: $text-gray-color;
    }
  }

  .button-empty-state {
    padding-top: 1rem;
  }

  .cards-balance {
    display: flex;
    justify-content: space-between;
  }

  .content-earning {
    background-color: $white-color;
    padding: $size-lg-1 $size-lg-1;
    display: flex;
  }

  .transactions-container {
    background-color: $white-color;
    padding: $size-lg-1 $size-lg-1;
    display: flex;

    .transactions {
      display: flex;
      flex-direction: column;
      width: 100%;

      .title {
        margin-bottom: 1rem;
      }
    }
  }
}

//tablet-responsive-horizontal
@media screen and (min-width: 860px) and (max-width: 1224px) {
  .container {
    width: 75vw;
  }
}
