.main-cover {
  width: 100%;
  height: 30rem;

  .cover {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". t t i i .";
    align-items: center;

    .info {
      grid-area: t;
    }

    img {
      grid-area: i;
      padding-top: 4rem;
      max-width: 25rem;
    }
  }
}

.text {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 1rem;
}

.popular-courses-container {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "t t t t t t"
    ". g g g g ."
    "b b b b b b";
  padding: 2rem 0;

  .text {
    text-align: center;
    grid-area: t;
  }

  .popular-courses {
    display: grid;
    grid-area: g;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .link-browser {
    margin-top: 2rem;
    text-align: center;
    grid-area: b;
  }
}

.categories-container {
  padding: 5rem 14rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  // width: 100%;

  h4 {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}


.category-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 500px) {

    .category-content {
      display: grid;
      gap: 1rem;
      grid-auto-rows: auto;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); 
      width: 100%;
    }
    
}

.link {
  margin: 2rem 0 0 0;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}