.main-cover {
  width: 100%;
  height: 30rem;
  justify-content: center;

  .cover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 10rem;

    img {
      max-width: 35rem;
    }
  }
}

.text {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 1rem;
}

.popular-courses-container {
  padding: 5rem 14rem;
  background-color: #f7f7f7;

  .text {
    text-align: center;
  }

  .popular-courses {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .link-browser {
    text-align: center;
  }
}

.categories-container {
  padding: 5rem 14rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h4 {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}


.category-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.link {
  margin: 2rem 0 0 0;
}
