@import '../../../../styles.scss';

.container {
  background-color: $white-color;
  display: flex;
}

.course-details {
  padding: $size-lg-1 14rem;
  display: flex;
  width: 100%;

  .description {
    margin-right: 10rem;

    .description-title {
      padding-bottom: $size-md-1;
      h1 {
        color: $text-color;
        padding-bottom: $size-md-1;
      }

      h4 {
        color: $text-gray-color;
      }
    }

    .description-course {
      display: flex;
      justify-content: space-between;
      padding: $size-md-1 0;

      .item {
        display: flex;
        flex-direction: column;
        color: $text-color;

        h5 {
          margin-top: 0;
          color: $text-gray-color;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .course-details {
    display: grid;
    padding: 2rem 6rem;
  }
  .description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
}

.summary-course {
  padding-top: $size-md-1;

}
