@import '../../../../styles.scss';

.container {
  background-color: $white-color;
}

.course-details {
  padding: 2rem 14rem;
  display: flex;

  .description {
    margin-right: 10rem;

    .description-title {
      padding-bottom: $size-md-1;
      h1 {
        color: $text-color;
        padding-bottom: $size-md-1;
      }

      h4 {
        color: $text-gray-color;
      }
    }

    .description-course {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;

      .item {
        display: flex;
        flex-direction: column;
        color: $text-color;

        h5 {
          margin-top: 0;
          color: $text-gray-color;
        }
      }
    }
  }
}

.summary-course {
  padding-top: $size-md-1;

  .overview {
    padding-top: $size-md-1;

    .course-description {
      h3 {
        color: $text-color;
        padding-bottom: $size-md-1;
      }

      p {
        color: $text-gray-color;
      }
    }

    .achievements {

      h3 {
        color: $text-color;
        padding-bottom: $size-md-1;
      }

      .items {
        color: $text-gray-color;
        display: flex;
        flex-direction: column;
        gap: $size-md-1;
      }
    }

    .requirements {
      display: flex;
      flex-direction: column;
      gap: $size-md-1;

      h3 {
        color: $text-color;
      }

      ul {
        padding-left: $size-md-1;
        color: $text-gray-color;

        li {
          color: $text-gray-color;
        }
      }
    }
  }

  section {
    margin-top: $size-md-3;
  }
  .items {
    .item {
      display: flex;
      align-items: start;

      svg {
        margin-top: 0.2rem;
        margin-right: 0.5rem;
      }
    }
  }
}
