@import '../../../../styles.scss';

.header-text {
  margin-bottom: $size-lg-1;
}

.button-content {
  display: flex;
  justify-content: end;
}
.task-upload {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  .title-task {
    padding-bottom: 0.5rem;
  }
  .task-content {
    padding: 1rem 1.5rem;
    border: 1px solid $stroke-color;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .task {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
  .btn-add-task {
    margin-top: 1rem;
  }
}