@import '../../../styles.scss';

.tab-options {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container {
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    padding-bottom: 1rem;
  }
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1rem;
  }
  .all-students {
    box-shadow: $card-shadow-medium;
    background-color: $white-color;
    height:fit-content;

    .all-students-header {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #d4d4d4;
    }
  }

  .student-tabs {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.chat-body {
  box-shadow: $card-shadow-medium;
  background-color: $white-color;
}

.chat-body-header {

}

.rooms {
  padding: 0 1rem;
}

.room-row {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &.selected {
    background-color: $white-color-100;
  }
}
