@import '../../../styles.scss';

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-register {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.container {
  width: 40%;
  // display: grid;
  // grid-template-columns: 50% 50%;
  padding: 3rem 0;
  // margin-top: $size-lg-1;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrap-information {
    display: flex;
    width: 88%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    .text-register {
      color: $text-gray-color;
      line-height: 1.75rem;
    }
  }
  img {
    width: 25rem;
  }
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .title {
    padding-bottom: 0.5rem;
  }
  .text {
    color: $text-gray-color;
  }
  .register-content {
    width: 80%;
  }
}

//smartphones-responsive
@media screen and (max-width: 500px) {
  .register-content {
    width: 100%;
    padding-bottom: 5rem;
  }
  .container {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center !important;
    justify-content: center;
    .img-register {
      width: 20rem !important;
    }
  }

}

//tablet-responsive-horizontal
@media screen and (min-width: 860px) and (max-width: 1224px) {
  .container {
    width: 60% !important;
  }
}
//tablet-responsive-vertical
@media screen and (min-width: 560px) and (max-width: 850px) {
  .container {
    width: 80% !important;
  }
}