@import '../../../styles.scss';
.wrap {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 3rem;
  width: 60vw;
  .show {
    color: $primary-color;
    text-decoration: underline;
    padding-bottom: 2rem;
  }
}
.tabs-content {
  padding-top: $size-lg-1;
  .quizzes-content {
    display: flex;
    flex-direction: column;
    gap: $size-md-1;
  }
  .achievements-content {
    display: flex;
    flex-direction: column;
    gap: $size-lg-1;
    flex-wrap: wrap;
    .achievements-student {
      .title-achievement {
        padding-bottom: 1.5rem;
      }
      .achievements {
        display: flex;
        gap: $size-lg-1;
        flex-wrap: wrap;
      }
    }
    .all-achievements {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .test {
        display: flex;
        gap:1rem;
      }
    }
  }
  .course-date {
    display: flex;
    gap: $size-md-3;
    flex-wrap: wrap;
    .course-class {
      padding: $size-md-1;
      width: 9rem;
      border: 1px solid $gray-color-300;
      border-radius: 8px;
    }
  }
}
.contents-course {
  .title-content {
    padding-bottom: $size-sm-2;
  }
  .about-course {
    line-height: $size-lg-1;
    padding-bottom: $size-md-1;
  }
  .subtitle-content {
    padding-bottom: $size-sm-3;
  }
}
