.container {
  width: 60vw;

  .header {
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 500;
    }
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
}
