.container {
  padding: 1rem;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {

  .filters-container {
    display: flex;
    justify-content: space-between;

    .filters {
      display: flex;
      gap: 1.5rem;
    }
  }

  .courses-container {
    padding: 2rem 1rem;
    height: 60vh;
    overflow-y: auto;

    .courses {
      display: grid;
      gap: 1rem;
      grid-auto-rows: 22rem;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }
}


