.container {
  padding: 1rem;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {

  .filters-container {
    display: flex;
    justify-content: space-between;

    .filters {
      display: flex;
      gap: 1.5rem;
    }
  }

  .courses-container {
    padding: 2rem 0;
    .courses {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}


