@import '../../../../styles.scss';

.header-text {
  margin-bottom: $size-lg-1;

  h2,
  h4 {
    margin: 0;
  }
}

.quiz-form {
  margin-bottom: $size-md-3;
  position: relative;
  border: 1px solid #f3f4f6;
  background-color: #f9fafb;
  padding: $size-md-1 $size-lg-1 $size-lg-1 $size-lg-1;
}

.quiz-question {
  margin-top: $size-md-3;
  padding: $size-md-1;
  position: relative;
  background-color: $white-color;
}

.edit-btn {
  text-align: end;
  margin-top: $size-md-1;
  cursor: pointer;
  color: $green-color;
}
