@import '../../../styles.scss';

.profile-container {
  display: flex;
  flex-direction: column;
  padding: $size-md-1;
  gap: $size-md-1;

  .title {
    display: flex;
    gap: $size-sm-3;
    align-items: center;
    padding-bottom: $size-sm-2;
    h3{
      font-weight: 500;
    }
  }
  .about-student {
    border: 1px solid $gray-color-200;
    padding: $size-md-1;
    border-radius: 4px;
    p {
      color: $text-gray-color;
    }
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: $size-md-1;
    .row {
      .item {
        padding-bottom: $size-md-3;
        .text {
          color: $text-gray-color;
        }
      }
    }
  }

}
