@import '../../../../styles.scss';

.container {
  display: flex;
  justify-content: center;
  margin-top: $size-lg-1;
}

.content {
  max-width: 30rem;
  .link {
    color: $primary-color-400;
    display: flex;
    justify-content: center;
    margin-top: $size-md-1;
  }
}
