@import "../../../../styles.scss";

.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.content {
  max-width: 30rem;
}

.btn-submit {
  margin-top: 20px;
}

.error {
  background-color: #ef4444;
  color: $white-color;
  padding: 1rem;
  margin: 0.5rem 0;
}
