.layout {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
    min-height: 100vh;
  }

  .footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 500px) {
  .layout {
    width: 100%;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }

  .footer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }


}