@import '../../../styles.scss';

.container {
  display: flex;
  justify-content: center;

  .wrap {
    margin-top: 3rem;
    width: 81vw;
  }

  .cards-dashboard {
    padding-top: $size-lg-1;
    display: flex;
    justify-content: space-between;
  }

  .layout {
    display: flex;
    gap: $size-lg-3;
    padding-top: $size-lg-1;
    .content {
      background-color: $white-color;
      border-radius: 15px;
      flex-grow: 1;
      padding: $size-lg-1;
      box-shadow: $card-shadow-medium;
      .courses {
        padding-top: $size-md-3;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    .help-ads {
      display: flex;
      flex-direction: column;
      gap: $size-lg-3;

      .profile {
        .general-information {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: $size-sm-3;
          padding: $size-md-3 $size-lg-1;
          box-shadow: $card-shadow-medium;
          background-color: $white-color;
          border-radius: 15px;
          text-align: center;
          h3 {
            font-weight: 450;
          }
          h4 {
            color: $text-gray-color;
          }
        }
      }
    }
  }
}

//tablet-responsive-horizontal
@media screen and (min-width: 860px) and (max-width: 1224px) {
  .courses {
    gap: 2rem !important;
  }
}
