.header-text {
  margin-bottom: 2rem;
}

.field-form {
  margin-top: 1.5rem;

  .range {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #f9fafb;
    padding: 1rem 2rem;
    border: 1px solid #d4d4d4;
  }
}

.days-config {
  margin-top: 1rem;
}

.days {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.content-form {

  .render-content {
    margin-top: 1rem;
  }
}

.classes-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
