@import '../../../../../styles.scss';

  .content {
    img {
      background-color: $primary-color;
    }

    .information-blog {
      h2 {
        padding-top: $size-lg-1;
      }
      ul {
        li{
          margin-left: $size-lg-1;
          a {
            text-decoration: underline;
            color: #4b01d4;
            cursor: pointer;
          }
        }
      }
    }
  }
