@import '../../../styles.scss';

.container {
  display: flex;
  flex-direction: column;
  // gap: 1rem;

  .comment-admin {
    padding: 2rem;
    background-color: $orange-color-100;

    .comment {
      padding-bottom: 1rem;
      color: $text-gray-color;
      .date-comment {
        padding-top: 0.25rem;
      }
    }

    .changes-title {
      font-weight: 500;
      padding-bottom: 0.25rem;
    }
  }

  .header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: baseline;
    background-color: $white-color;
    padding: 2rem;

    .course-title {
      font-size: 2rem;
    }

    .title-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      // max-width: 38rem;

      .details {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }

    h3 {
      font-weight: 500;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .btn-actions {
      padding: 0.75rem 0.5rem;
      width: 9rem;
    }
  }

  .content {
    background-color: $white-color;
    padding: 0 2rem;

    .section-content {
      flex-grow: 1;
      padding: 2rem;

      .section-gray {
        padding: 2rem 8rem;
        background-color: #f9fafb;
      }
    }
  }
}

//tablet-responsive-horizontal
@media screen and (min-width: 860px) and (max-width: 1224px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
}
