@import '../../../../styles.scss';

.container {
  min-width: 80vw;

  h1 {
    margin-bottom: 1rem;
  }
}

.layout {
  display: flex;
  gap: 3rem;

  .content {
    background-color: $white-color;
    border-radius: 15px;
    flex-grow: 1;
    padding: 2rem;
    box-shadow: $card-shadow-medium;
  }

  .help-ads {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .card-teaching {
      background-color: $white-color;
      color: $gray-color;
      h2 {
        color: $secondary-color;
      }
    }
    .card-join-discord {
      background-color: #404eed;
      color: $gray-color-100;
    }
  }
}
