@import '../../../../../styles.scss';

.header-text {
  margin-bottom: $size-lg-1;
}

.media {
  height: 5rem;
  margin-top: $size-md-1;
  background-color: #f7f7f7;
}


.form-content {
  margin-bottom: $size-md-3;
  position: relative;
  background-color: #f9fafb;
  padding: $size-md-1 $size-md-1 $size-lg-1 $size-md-1;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 1.5rem 0;
}

.actions {
  display: flex;
  gap: 0.5rem;

  .action {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: $gray-color-100;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $gray-color-200;
    }
  }
}
