@import '../../../styles.scss';

.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .content {
    max-width: 25rem;

    h1 {
      color: $text-color;
    }
    h4 {
      color: $text-gray-color;
      padding-bottom: 0.5rem;
    }

    .email {
      padding-bottom: 1.25rem;
      h4 {
        color: $text-color;
      }
    }
    .link {
      color: $primary-color-400;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  }
}
