.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  height: 100vh;
}

.content {
  grid-area: content;
}
