@import '../../../../../admin/src/styles.scss';

.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header header'
    'nav content content';
  height: 100vh;
  .chat-tab-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
  
    &:hover {
      background-color: $primary-color-500;
    }
  }
  
  .chat-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
  
  .header {
    grid-area: header;
    padding: 1.5rem 3rem;

    .avatar {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .content {
    grid-area: content;
    background-color: $background-gray-color;
    padding: $size-lg-3 $size-lg-4;
  }

  .navbar {
    background-color: $white-color;
    padding: 30px;
    border-right: 1px solid #ebecef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
