@import '../../../../styles.scss';

.header-text {
  margin-bottom: $size-lg-1;
}

.button-content {
  display: flex;
  justify-content: end;
}

.add-button {
  margin-top: 1rem;
}

.quiz-forms {
  padding: 1rem 3rem 2rem 3rem;
  border: 1px solid $gray-color-200;
}
